{% extends 'base.html' %}

{% block body %}
<form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p class="h5">{{ field.label }}:</p>
      <p>{{ field }}</p>
    {% endfor %}
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
    <a href="{% url 'tasks_list' %}" class="btn btn-secondary mt-2">Cancel</a>
</form>
    {% if form.errors %}
    <div class="alert alert-danger my-1">
        Please enter valid date for deadline
    </div>
    {% endif %}

{% endblock %}