{% extends 'base.html' %}

{% block body %}
  <h1>Your tasks:</h1>
  <div class="btn-group mt-4">
    {% if page_obj.has_previous %}
        <a class="btn btn-secondary" href="?page=1">&laquo; first</a>
        <a class="btn btn-secondary" href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="btn btn-secondary">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
        <a class="btn btn-secondary" href="?page={{ page_obj.next_page_number }}">next</a>
        <a class="btn btn-secondary" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </div>
  <div class="row row-cols-1 mt-4">
      {% for task in page_obj %}
        <div class="col {% if task.done %} text-muted {% endif %}">
          <div class="p-3 border">
            <div class="row row-cols-12">
              <div class="col-1 align-self-center">
                <form method="post" id="done_form">
                  {% csrf_token %}
                  <input type="checkbox" class="form-check-input" onchange="submit();" {% if task.done %} checked {% endif %}>
                  <input type="hidden" name="change_state" value="{{ task.id }}">
                </form>
              </div>
              <div class="col-6 align-self-center text-wrap text-break">
                <h5 class="fw-normal">{{ task.text }}</h6>
              </div>
              <div class="col-3 align-self-center">
                {% if task.deadline is not None %}
                  <p>{{ task.deadline|timeuntil }} left till deadline: {{ task.deadline }}</p>
                {% else %}
                  <p>No deadline set.</p>
                {% endif %}
                {% if task.priority is not None %}
                  <p>Priority: {{ task.get_priority_display }}</p>
                {% endif %}
              </div>
              <div class="col-2 align-self-center">
                <a href="{% url 'tasks_update' pk=task.id %}" class="update-task-btn btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="{% url 'tasks_delete' pk=task.id %}" class="delete-task-btn btn btn-danger"><i class="fa-regular fa-trash-can"></i></a>
              </div>
            </div>
          </div>  
        </div>
      {% endfor %}
  </div>
{% endblock %}